.div-style{
    margin-top : 4rem;
    padding : 3rem;
    background: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0.5rem 1rem 0px;
}
.text-box{
    border-radius: 1rem;
    margin-top : 1rem;
}
.button-submit{
    width: 50%;
    border-radius: 1rem;
    margin-top : 1rem
}
.body-background {
    background-image: linear-gradient(to right, #855BFF 0%,#B898EB 100%);
}
.main-label{
    margin: 1rem;
}

input.form-control {
    height: 45px;
  }
  
  input.form-control + .input-group-addon::after {
    top: 16px;
    left: 0;
  }
  
  textarea.form-control {
    min-height: 115px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
  
  textarea.form-control + .input-group-addon::after {
    top: 16px;
    left: 0;
  }
  
  .form-control:focus + .input-group-addon::after {
    color: #790640;
    top: -13px;
  }
  
  .form-control:focus + .input-group-addon::before {
    width: 100%;
  }
  
  .has-val.form-control + .input-group-addon::after {
    color: #790640;
    top: -13px;
  }
  
  .has-val.form-control + .input-group-addon::before {
    width: 100%;
  }

.validate-input {
    position: relative;
  }
  
  .alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0px;
    pointer-events: none;
  
    font-family: Poppins-Regular;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
  
    visibility: hidden;
    opacity: 0;
  
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
  
  .alert-validate::after {
    content: "\f12a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
  }
  
  .alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
  }
  
  
  @media (max-width: 992px) {
    .alert-validate::before {
      visibility: visible;
      opacity: 1;
    }
  }